body{
  background:#f4f4f4
}
.app_wapper{
  display:flex;
  flex:1;
  height:90vh;
  justify-content:center;
}
.app_wapper > div{
   display:flex;
   justify-content:center;
}
.left_ad{
  display:flex;
  margin:0px 50px 0px 0px;
  height:90vh;
  align-items: center;;
}
.right-ad{
  display:flex;
}
.content{
  display:flex;
  width:800px;
  justify-content:center;
}
/*_______________________ int_calc _____________________*/
a{
  text-decoration: none;
}
.int_calc{
  display:flex;
  flex-direction:column;
  width:100%;
}
.int_calc_header{
  display:flex;
  flex-direction:column;
  padding:0px 10px;
  margin:5px 0px 15px 0px;
}
.int_calc_header > div{
  display:flex;
  justify-content:flex-end;
  cursor: pointer;
}
.int_calc_header > div a > div{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:3px 7px;
  /* border-top:solid 2px #585858; */
  /* border-bottom:solid 2px #585858; */
  border:solid 1px #000;
  border-radius:5px;
  margin:0px 0px -10px 10px;
  color:#000;
  font-weight:bold;
  transition:all 0.3s;
  cursor: pointer;
}
.int_calc_header > div a > div:hover{
  transition:all 0.3s;
  color:#097dff;
  border:solid 1px #097dff;
}
.int_calc_title{
  font-size:2em;
  font-weight:bold;
}
.int_calc_body{
  display:flex;
  flex-direction:column;
  width:calc(100% - 60px);
  padding:30px 30px 15px 30px;
  box-shadow:2px 2px 6px 0 rgba(32,33,36,.28);
  background:#fff;  
  border-radius:5px;
}
.int_calc_body > div:nth-child(1){
  display:flex;
  justify-content:center;
}
.int_calc_body > div:nth-child(1) > span{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:5px 25px;
  border-radius:5px;
  margin:0px 10px;
  color:#919191;
  font-weight:bold;
  border:solid 2px #eaeaea;
  transition:all 0.3s;
  cursor:pointer;
}
.int_calc_body > div:nth-child(1) > span.on{
  color:#fff;
  background:#097dff;
  border:solid 2px #097dff;
}
.int_calc_body > div:nth-child(2){
  display:none;
  flex-direction:column;
  width:calc(100% - 40px);
  padding:0px 20px;
  border-bottom:solid 1px #eaeaea;
}
.int_calc_body > div:nth-child(2).on{
  display:flex;
}
.int_calc_body > div:nth-child(3){
  display:none;
  flex-direction:column;
  width:calc(100% - 40px);
  padding:0px 20px;
  border-bottom:solid 1px #eaeaea;
}
.int_calc_body > div:nth-child(3).on{
  display:flex;
}
.int_calc_body > div:last-child{
  display:flex;
  padding:0px 0px 0px 20px;
  margin:30px 0px 0px 0px;
  width:calc(100% - 40px);
}
.int_calc_body_level1{
  display:flex;
  height:40px;
  padding:20px 0px 40px 0px;
  justify-content:space-between;
}
.right{
  display:flex;
  align-items:center;
  font-size:1.5em;
  color:#585858;
  font-weight:bold;
}
.left{
  display:flex;
  align-items:center;
  justify-content:flex-end;
  width:350px;
  border-bottom:1px solid #097dff;
}
input::placeholder{
  color:#bfd7ef;
}
.left > input{
  border:none;
  display:flex;
  width:250px;
  margin:1px 10px;
  height:28px;
  font-size:2em;
  text-align:right;
  color:#097dff;
}
.left > input:focus{
  outline: none;
}
.left > span{
  font-size:1.1em;
  font-weight:bold;
  color:#585858;
}
.left_with_options{
  display:flex;

}
.left_with_options > span{
  display:flex;
  font-size:1em;
  margin:0px 0px 0px 10px;
  align-items: center;
  padding: 3px 10px;
  border-radius:5px;
  border:solid 1px #919191;
  color:#919191;
  font-weight:bold;
  transition:all 0.3s;
  cursor:pointer;
}
.left_with_options > span.on{
  border:solid 1px #097dff;
  color:#097dff;
}
.int_calc_body_level3{
  display:flex;
}
.spacial_left{
  display:flex;
  justify-content:space-between;
  width:350px;
}
.spacial_left > div:first-child span{
  border:solid #919191 1px;
  color:#919191;
  padding:10px 15px;
  margin:0px 10px 0px 0px;
  cursor:pointer;
  transition:all 0.3s;
  border-radius:5px;
}
.spacial_left > div:first-child span.on{
  border:solid #097dff 1px;
  color:#097dff;
  font-weight:bold;
}
.spacial_left > div:last-child{
  display:flex;
}
.spacial_left > div:last-child input{
  border:none;
  display:flex;
  width:150px;
  margin:0px 10px;
  height:28px;
  font-size:2em;
  text-align:right;
  color:#097dff;
}
.spacial_left > div:last-child input:focus{
  outline:none;
}
.spacial_left > div:last-child span{
  font-size:1.5em;
  color:#585858;
  font-weight:bold;
}


.int_calc_body_level2{
  display:flex;
  width:100%;
  justify-content:space-between;
}
.int_calc_body_level2 > div:first-child{
  display:flex;
}
.int_calc_body_level2 > div:first-child span{
  display:block;
  margin:8px 0px 0px 0px;
  font-size:1.5em;
  color:#000;
  font-weight:bold;
}
.int_calc_body_level2 > div:last-child{
  display:flex;
  flex-direction:column;
}
.int_calc_body_level2_level1{
  display:flex;
  justify-content:flex-end;
  width:350px;
  border-bottom:solid 1px #097dff;
  align-items:flex-end;
  padding:0px 0px 5px 0px;
}
.int_calc_body_level2_level1 span:first-child{
  font-size:2em;
  color:#097dff;
  font-weight:bold;
}
.int_calc_body_level2_level1 span:last-child{
  display:block;
  margin:0px 0px 5px 10px;
  font-size:1.1em;
  font-weight:bold;
  color:#585858;
}
.int_calc_body_level2_level2{
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
  width:350px;
  margin:25px 0px 0px 0px;
}
.int_calc_body_level2_level2 > span{
  color:#585858;
  font-weight:bold;
}
.int_calc_body_level2_level2 > div{
  display:flex;
  align-items:flex-end;
}
.int_calc_body_level2_level2 > div span:first-child{
  font-size:1.5em;
  color:#585858;
  font-weight:bold;
}
.int_calc_body_level2_level2 > div span:last-child{
  display:block;
  margin:0px 0px 2px 5px;
  font-weight:bold;
  color:#585858;
}
.int_calc_body_level2_level3{
  display:flex;
  flex-direction:column;
  width:350px;
  margin:25px 0px 0px 0px;
}
.int_calc_body_level2_level3 > span{
  display:block;
  color:#585858;
  font-weight:bold;
  border-bottom:solid 1px #eaeaea;
  padding:0px 0px 10px 0px;
}
.int_calc_body_level2_level3 > div{
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  margin:10px 0px 0px;
}
.tax{
  display:flex;
  align-items:flex-end;
  color:#585858;
  justify-content:space-between;
  width:280px;
  margin:0px 0px 15px 0px;
}
.tax_1{
  display:flex;
  justify-content:space-between;
  width:150px;
}
.tax_1 span:first-child{
  font-weight:bold;
  color:#919191;
}
.tax_2{
  display:flex;
  align-items:flex-end;
}
.tax_2 span:first-child{
  font-weight:bold;
  font-size:1.2em;
}
.tax_2 span:last-child{
  display:block;
  margin:0px 0px 0px 5px;
  color:#919191;
}
.footer{
  margin:20px 0px;
  display:flex;
  flex-direction:column;
  align-items:center;
}
/* page 2 */
.int_calc_body_level22{
  display:flex;
  flex-direction:column;
  width:100%;
}
.int_calc_body_level22 > div:first-child{
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.int_calc_body_level22 > div:first-child > span{
  font-size:1.5em;
  font-weight:bold;
}
.int_calc_body_level22 > div:first-child > div{
  width:350px;
  border-bottom:solid 1px #097dff;
  display:flex;
  justify-content:space-between;
  align-items: flex-end;
}
.int_calc_body_level22 > div:first-child > div > span{
  display:block;
  margin:0px 0px 5px 0px;
  color:#585858;
  font-weight:bold;
}
.int_calc_body_level22 > div:first-child > div > div{
  flex:1;
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.int_calc_body_level22 > div:first-child > div > div > span:nth-child(1){
  font-size:2em;
  color: #097dff;
  font-weight:bold;
}
.int_calc_body_level22 > div:first-child > div > div > span:nth-child(2){
  display:block;
  font-size:1.1em;
  font-weight:bold;
  color:#585858;
  margin:0px 0px 5px 10px;
}
.debt_result{
  width:100%;
  display:flex;
  flex-direction:column;
  margin:15px 0px 0px 0px;
}
.debt_result > div{
  display:flex;
}
.debt_result div:first-child span{
  justify-content: center;
  border-top:solid 1px #eaeaea;
  background: #f4f4f4;
}
.debt_result span{
  border-bottom:solid 1px #eaeaea;
  border-left:solid 1px #eaeaea;
  display:flex;
  justify-content: flex-end;
  padding:2px 5px;
}
.debt_result span:last-child{
  border-right:solid 1px #eaeaea;
}
.debt_result span:nth-child(1){flex:1}
.debt_result span:nth-child(2){flex:4}
.debt_result span:nth-child(3){flex:4}
.debt_result span:nth-child(4){flex:3}
.debt_result span:nth-child(5){flex:4}
.hit_calc{
  width:100%;
  display:flex;
  justify-content:center;
}
.hit_calc span{
  display:flex;
  background:#097dff;
  padding:5px 15px;
  border-radius:5px;
  color:#fff;
  font-weight:bold;
  font-size:2em;
  margin:-15px 0px 20px 0px;
  cursor: pointer;
}
.hit_calc span:hover{
  background:#0D3A8F;
  transition:all 0.8s;
  border-radius:10px;
}

@media screen and (max-width: 1000px) {
  .app_wapper > div{
    width:100%;
    display:flex;
    flex-direction:column;
  }
  .content{
    width:100%;
  }  
  .int_calc_body_level1{
    flex-direction:column;
  }
  .right{
    display:block;
    margin:0px 0px 20px 0px;
  }
  .left{
    align-items: flex-start;
    margin:0px 0px 0px calc(100% - 330px);
  }
  .spacial_left{
    width:100%;
    align-items:center;
  }
  .int_calc_body > div:nth-child(2){
    padding:0px 0px 30px 0px;
    width:100%;
  }
  .int_calc_body > div:nth-child(3){
    padding:0px 0px 30px 0px;
    width:100%;
  }
  .int_calc_body > div:last-child{
    width:100%;
    padding:0px;
  }
  .int_calc_body_level2{
    flex-direction:column;
  }
  .int_calc_body_level2 > div:last-child{
    align-items:flex-end;
  }
  .left > input{
    margin:0px 10px 2px 0px;
  }
  .app_wapper{
    height:auto;
  }
  .spacial_left > div:last-child input{
    width:90px;
  }
  .spacial_left > div:first-child span{
    padding:7px 10px;
  }
  .int_calc_body{
    width:calc(100% - 20px);
    padding:30px 10px 15px 10px;
  }
  .int_calc_body > div:last-child{
    width:calc(100% - 20px);
    padding:0px 10px;
  }
  .int_calc_body_level2_level1{
    width:330px;
  }
  .int_calc_body_level2_level2{
    width:330px;
  }
  .int_calc_body_level2_level3{
    width:330px;
  }
  .left_ad{
    height:auto;
    justify-content:center;
  }
  .left{
    width:330px;
  }
  .footer{
    font-size:0.9em;
  }
  .left_with_options > span{
    margin:0px 0px 0px 7px;
    font-size:0.8em;
    padding:3px 5px;
  }
  .hit_calc span{
    margin:20px 0px -5px 0px;
  }
  .int_calc_body_level22 > div:first-child{
    flex-direction:column;
  }
  .int_calc_body_level22 > div:first-child > div{
    margin:10px 0px 0px 0px;
    width:330px;
  }
  .debt_result span{
    font-size:0.8em;
  }
}
.main{
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
  padding: 30px 30px 15px 30px;
  box-shadow: 2px 2px 6px 0 rgba(32,33,36,.28);
  background: #fff;
  border-radius: 5px;
  margin:20px 0px;
}
.main > div{

}
.spacial_left_calc3{
  display:flex;
  flex-direction:column;

}
.spacial_left_calc3 > div{
  display:flex;
}
.spacial_left_calc3 > div > div span{
  border: solid #919191 1px;
  color: #919191;
  padding: 10px 15px;
  margin: 0px 10px 0px 0px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
}
.spacial_left_calc3 > div > div span.on{
  border:solid #097dff 1px;
  color:#097dff;
  font-weight:bold;
}
.spacial_left > div:last-child{
  border-bottom:solid 1px #097dff;
}
.int_calc_body_level1{
  align-items:center
}
.int_calc_body_level111{
  display:flex;
  align-items: flex-start;
  height: 40px;
  padding: 20px 0px 80px 0px;
  justify-content: space-between;
  border-bottom:solid 1px #eaeaea;
}
.int_calc_body_level111 > div:first-child > span{
  font-size:2.7em;
}
.spacial_left_calc3 > div:first-child{
  justify-content:space-between;
}
.spacial_left_calc3 > div:last-child{
  margin:30px 0px 0px 0px;
  justify-content: flex-end;
  border-bottom:solid 1px #097dff;
  width:350px;
}
.spacial_left_calc3 > div:last-child span:last-child{
  font-size: 1.1em;
  font-weight: bold;
  color: #585858;
}
.spacial_left_calc3 input{
  border:none;
  display:flex;
  width:300px;
  margin:0px 10px;
  height:28px;
  font-size:2em;
  text-align:right;
  color:#097dff;
}